.card {
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card img {
  width: 65%;
  margin: auto;
}

.card > .card-body {
  padding: 10px;
  overflow: hidden;
  max-width: 100%;
}

.card .card-text {
  color: white;
  white-space: nowrap;
  overflow: auto;
}

@-webkit-keyframes move {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: -250%;
  }
}

@keyframes move {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: -250%;
  }
}

@media screen and (min-width: 992px) {
  .card .card-text {
    overflow: hidden;
  }

  .card:hover .card-text {
    -webkit-animation: move 8s linear;
    animation: move 8s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}
